body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    padding: 20px;
    border: 1px solid black;
    background-color: palegoldenrod;

    &__user-result {
        display: flex;
        width: 40px;
        flex-wrap: wrap;
    }

    &__result-slot {
        margin: 10px 10px 0 0;
        width: 10px;
        // flex: 0 0 50%;
        // max-width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: gray;
    }

    &__user-config, &__configuration-wrapper {
        display: flex;
        flex: 0 1 70%;

    }

    &__user-config-slot, &__configuration-slot {

        .active &{
            cursor: pointer;
        }
        width: 30px;
        margin-right: 10px;
        height: 30px;
        border-radius: 100%;
        background-color: gray;
        border: 1px solid black;
    }

    &__check {
        &:not(.active) {
            display: none;
        }
    }

    &__user-config-wrapper {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        border-top: 1px solid black;
        align-items: center;
    }

    &__pins {
    
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        max-width: 50%;
        flex-wrap: wrap;

        &-wrapper {
            display: flex;
            justify-content: space-between;    border-top: 1px solid black;
        }
    }

    &__pin {
        cursor: pointer;
        margin: 10px 10px 10px 0;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid black;

        &--selected {
            transition:  background-color .2s;
        }

        
    }
}

[data-color="red"] {
    background-color: red;
}

[data-color="green"]  {
    background-color: green;
}

[data-color="blue"]  {
    background-color: blue;
}

[data-color="yellow"] {
    background-color: yellow;
}

[data-color="brown"]  {
    background-color: brown;
}

[data-color="orange"]  {
    background-color: orange;
}

[data-color="black"]  {
    background-color: black;
}

[data-color="white"]  {
    background-color: white;
}